<div class="edit-survey">
  <h1>Editar Encuesta</h1>
  <div class="edit-survey-content">
    <div class="edit-survey-content-left">
      <h2>Formulario</h2>
      <form [formGroup]="fgValidator" (ngSubmit)="ModificarEncuesta()">
        <div class="content">
          <div class="card">
            <h3>Municipio</h3>
            <select formControlName="municipio" id="2">
              <option value="Arauca">Arauca</option>
              <option value=">Arauquita">Arauquita</option>
              <option value="Saravena">Saravena</option>
            </select>
          </div>

          <div class="card">
            <label for="direccion">Dirección de residencia</label>
            <input formControlName="direccion" id="3" type="text" />
          </div>

          <div class="card">
            <label for="correo">Correo Electrónico</label>
            <input formControlName="correo" id="3" type="email" />
          </div>

          <div class="card">
            <label for="tel">Telefono fijo o celular</label>
            <input formControlName="tel" id="3" type="text" />
          </div>

          <div class="card">
            <label for="est_civil">¿19. Estado civil?</label>
            <select formControlName="est_civil" id="est_civil">
              <option value="Soltero">Soltero</option>
              <option value="Casado">Casado</option>
              <option value="Unión libre">Unión libre</option>
              <option value="Separado/Divorciado">Separado/Divorciado</option>
              <option value="Viudo">Viudo</option>
              <option value="No especificado">No especificado</option>
            </select>
          </div>

          <div class="card">
              <label for="info_nucleo">20. Informacion nucleo Familiar</label>
              <select formControlName="info_nucleo" id="info_nucleo">
              <option value="Padre Jefe de Hogar">Padre Jefe de Hogar</option>
              <option value="Madre Jefe de Hogar">Madre Jefe de Hogar</option>
              <option value="Padre Cabeza de familia">Padre Cabeza de familia</option>
              <option value="Madre Cabeza de familia">Madre Cabeza de familia</option>
              <option value="Otro">Otro</option>
            </select>
          </div>

          <div class="card">
            <label for="conf_hogar">21A. Número de personas que conforman el hogar</label>
            <input formControlName="conf_hogar" id="conf_hogar" type="number" />
          </div>

          <div class="card">
            <label for="quedaron_hijos">21B. ¿Se quedaron hijos?</label>
            <select name="quedaron_hijos" id="quedaron_hijos" formControlName="quedaron_hijos">
              <option value="Si">Si</option>
              <option value="No">No</option>
            </select>
          </div>

          <div class="card">
            <label for="nacionalidad_pareja">21C. Nacionalidad de la pareja</label>
            <select name="nacionalidad_pareja" id="nacionalidad_pareja" formControlName="nacionalidad_pareja">
              <option value="Venezolano">Venezolano</option>
              <option value="Colombiano">Colombiano</option>
              <option value="Otro">Otro</option>
              <option value="No Aplica">No Aplica</option>
            </select>
          </div>

          <div class="card">
            <label for="razon_cruce">22. Razón cruce a Colombia</label>
            <select name="razon_cruce" id="razon_cruce" formControlName="razon_cruce">
              <option value="Seguridad">Seguridad</option>
              <option value="Político">Político</option>
              <option value="Familiar">Familiar</option>
              <option value="Laboral">Laboral</option>
              <option value="Económico">Económico</option>
              <option value="Desplazamiento">Desplazamiento</option>
              <option value="Otra">Otra</option>
            </select>
          </div>

          <div class="card">
            <label for="tiempo_estancia">23. Tiempo de estancia en el departamento de Arauc</label>
            <select name="tiempo_estancia" id="tiempo_estancia" formControlName="tiempo_estancia">
              <option value="Hasta 1 año">Hasta 1 año</option>
              <option value="2 años">2 años</option>
              <option value="3 años">3 años</option>
              <option value="4 años">4 años</option>
              <option value="5 años">5 años</option>
              <option value="Más de 5 años">Más de 5 años</option>
            </select>
          </div>

          <div class="card">
            <label for="razon_arauca">24. Razon de permanencia en el departamente de Arauca</label>
            <select name="razon_arauca" id="razon_arauca" formControlName="razon_arauca">
              <option value="Trabajar en Arauca">Trabajar en Arauca</option>
              <option value="Trabajar en Arauquita">Trabajar en Arauquita</option>
              <option value="Trabajar en Saravena">Trabajar en Saravena</option>
              <option value="Trabajar en Otro municipio">Trabajar en Otro municipio</option>
              <option value="Estudiar">Estudiar</option>
              <option value="Otra Razón">Otra Razón</option>
              <option value="No especificado">No especificado</option>
            </select>
          </div>

          <div class="card">
            <h3>25. ¿Una vez ingresó a Colombia cuál fue su intención?</h3>
            <select formControlName="intencion" id="4">
              <option value="Establecer su domicilio en el país">Establecer su domicilio en el país</option>
              <option value="Transitar hacia otro país">Transitar hacia otro país</option>
              <option value="Trabajar por un tiempo para regresar a Venezuela">Trabajar por un tiempo para regresar a Venezuela</option>
              <option value="Encontrarse con su familia">Encontrarse con su familia</option>
            </select>
          </div>

          <div class="card">
            <label for="intencion_permanecer">26. Intencion de Permanecer en Colombia</label>
            <select formControlName="intencion_permanecer" id="intencion_permanecer">
              <option value="Interesado en permancer en Colombia">Interesado en Permanecer en Colombia</option>
              <option value="Planea retornar a venezuela">Planea retornar a venezuela</option>
              <option value="Ha reglamentado su estancia en Colombia">Ha reglamentado su estancia en Colombia</option>
              <option value="No ha reglamentado su estancia en Colombia">No ha reglamentado su estancia en Colombia</option>
              <option value="No le interesa reglamentar su estancia">No le interesa reglamentar su estancia</option>
              <option value="No sabe cómo hacerlo y/o carece de orientación">No sabe cómo hacerlo y/o carece de orientación</option>
              <option value="Estudio de los hijos y/o propio">Estudio de los hijos y/o propio</option>
              <option value="Otra circunstancia">Otra circunstancia</option>
            </select>
          </div>

          <div class="card">
            <label for="localidad_procedencia">31A. Tipo de localidad de donde procede</label>
            <select formControlName="localidad_procedencia" id="31">
              <option value="Urbana">Urbana</option>
              <option value="Rural">Rural</option>
              <option value="No especificado">No especificado</option>
            </select>
          </div>

        </div>

        <div class="survey-btn">
          <button type="submit">Guardar</button>
        </div>
      </form>
    </div>


    <div class="edit-survey-content-right">
      <h2>Grupo Familiar</h2>
      <!-- <crear-persona-root></crear-persona-root> -->

      <form [formGroup]="fgPersona" (ngSubmit)="SavePerson()">
        <div class="edit-survey-content">
          <div class="edit-survey-content-left">
            <!-- IZQUIERDA ***************************** -->
            <input type="hidden" formControlName="id" />
            <div class="card">
              <label for="name">Nombre</label>
              <input formControlName="name" id="name" type="text" />
            </div>

            <div class="card">
              <label for="document">Número de Documento</label>
              <input formControlName="document" id="document" type="text" />
            </div>

            <div class="card">
              <label for="dateOfBirth">fecha de nacimiento</label>
              <input formControlName="dateOfBirth" id="dateOfBirth" type="date" />
            </div>

            <div class="card">
              <label for="country">nacionalidad</label>
              <select name="" id="country" formControlName="country">
                <option value="venezuela">venezuela</option>
                <option value="colombia">colombia</option>
                <option value="otro">otro</option>
              </select>
            </div>

            <div class="card">
              <label for="profesion">profesion</label>
              <input formControlName="profesion" id="profesion" type="text" />
            </div>

            <div class="card">
              <label for="act_economica">act_economica</label>
              <input formControlName="act_economica" id="act_economica" type="text" />
            </div>

            <div class="card">
              <label for="estatus_migratorio">Estatus Migratorio</label>
              <select name="estatus_migratorio" id="estatus_migratorio" formControlName="estatus_migratorio">
                <option value="Migrante">Migrante</option>
                <option value="Refugiado">Refugiado</option>
                <option value="Retornado">Retornado</option>
                <option value="No Aplica">No Aplica</option>
              </select>
            </div>

            <div class="card">
              <label for="afiliacion_salud">Afiliación Salud</label>
              <select name="afiliacion_salud" id="afiliacion_salud" formControlName="afiliacion_salud">
                <option value="Contributivo">Contributivo</option>
                <option value="Subsidiado">Subsidiado</option>
                <option value="Vinculado">Vinculado</option>
                <option value="Regimen especial">Regimen especial</option>
                <option value="Refugiado Subsidiado">Refugiado Subsidiado</option>
                <option value="No Afiliado">No Afiliado</option>
              </select>
            </div>
            
            <div>

              <div class="card">
                <label>Tipo de Documento</label>

                <div *ngFor="let doc of docs; let i=index">
                  <div *ngIf="(i/2)*2==i">
                    <label class="container">
                      <input type="checkbox" formArrayName="docsSeleccionados" [value]="doc.value"
                        (change)="onCheckboxChange($event)" />
                      {{doc.name}}
                      <span class="checkmark"></span><br />
                    </label>
                  </div>

                </div>

                <!-- <p>{{ fgValidator.value | json }}</p> -->

              </div>
            </div>
            <!-- ************************************************ -->
          </div>
          <div class="edit-survey-content-right">
            <!-- DERECHA ******************************** -->
            <div class="card">
              <label for="lastName">Apellido</label>
              <input formControlName="lastName" id="lastname" type="text" />
            </div>
            <div class="card">
              <div>
                <label for="gender">Genero</label>
                <select name="" id="gender" formControlName="gender">
                  <option value="Masculino">Masculino</option>
                  <option value="Femenino">Femenino</option>
                  <option value="LGTBI">LGTBI</option>
                </select>
              </div>
            </div>
            <div class="card">
              <label for="edad">edad</label>
              <input formControlName="edad" id="edad" type="number" />
            </div>

            <div class="card">
              <label for="nivel">Nivel Educativo</label>
              <select name="" id="nivel" formControlName="nivel">
                <option value="A-Analfabeta">A-Analfabeta</option>
                <option value="P-Primaria">P-Primaria</option>
                <option value="S-Secundaria">S-Secundaria</option>
                <option value="T-Tecnica">T-Tecnica</option>
                <option value="U-Universitaria">U-Universitaria</option>
                <option value="N-Ninguna">N-Ninguna</option>
              </select>
            </div>

            <div class="card">
              <label for="tipo_emprendimiento">tipo_emprendimiento</label>
              <input formControlName="tipo_emprendimiento" id="tipo_emprendimiento" type="text" />
            </div>

            <div class="card">
              <label for="tipo_act_economica">Tipo de actividad</label>
              <select name="tipo_act_economica" id="tipo_act_economica" formControlName="tipo_act_economica">
                <option value="Formal">Formal</option>
                <option value="Informal">Informal</option>
                <option value="No Aplica">No Aplica</option>
              </select>
            </div>

            

            <div class="card">
              <label for="runv">Inscrito en el RUNV</label>
              <select name="runv" id="runv" formControlName="runv">
                <option value="Si">Si</option>
                <option value="No">No</option>
              </select>
            </div>

            <div class="card">
              <label for="discapacidad">Discapacidad</label>
              <select name="discapacidad" id="discapacidad" formControlName="discapacidad">
                <option value="Mental">Mental</option>
                <option value="Cognitiva">Cognitiva</option>
                <option value="Auditiva">Auditiva</option>
                <option value="visual">visual</option>
                <option value="Física">Física</option>
                <option value="Múltiple">Múltiple</option>
                <option value="Ninguna">Ninguna</option>
              </select>
            </div>

            <div class="card">
              <label for="grupo_etnico">Grupo Étnico</label>
              <select name="grupo_etnico" id="grupo_etnico" formControlName="grupo_etnico">
                <option value="Mestizo">Mestizo</option>
                <option value="Afrodescendiente">Afrodescendiente</option>
                <option value="Palenquero">Palenquero</option>
                <option value="Raizal">Raizal</option>
                <option value="Indigena">Indigena</option>
                <option value="ROM/Gitano">ROM/Gitano</option>
              </select>
            </div>

            <div class="card">
              <label for="movilidad_migratoria">Movilidad Migratoria</label>
              <select name="movilidad_migratoria" id="movilidad_migratoria" formControlName="movilidad_migratoria">
                <option value="Solo">Solo</option>
                <option value="Familiar">Familiar</option>
                <option value="Grupal">Grupal</option>
              </select>
            </div>

            <div class="card">
              <label for="estudia">Estudia Actualmente</label>
              <select name="estudia" id="estudia" formControlName="estudia">
                <option value="Si">Si</option>
                <option value="No">No</option>
              </select>
            </div>

            <div class="card">
              <label for="grado">Grado Actual</label>
              <select name="grado" id="grado" formControlName="grado">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="Ninguno">Ninguno</option>
              </select>
            </div>

            <div class="card">
              <label for="parentezco">Parentezco</label>
              <select name="parentezco" id="parentezco" formControlName="parentezco">
                <option value="Principal">Principal</option>
                <option value="Padre">Padre</option>
                <option value="Madre">Madre</option>
                <option value="Hijo/Hija">Hijo/Hija</option>
                <option value="Abuelo/Abuela">Abuelo/Abuela</option>
                <option value="Tio/Tia">Tio/Tia</option>
                <option value="Primo/Prima">Primo/Prima</option>
                <option value="Otro">Otro</option>
              </select>
            </div>
            <!-- ************************************************ -->
          </div>
        </div>

        <div class="login-btn">
          <button type="submit">
            Guardar Cambios
          </button>
        </div>
      </form>

      <table class="table">
        <thead>
          <tr>
            <th>nombre</th>
            <th>apellido</th>
            <th>documento</th>
            <th>genero</th>
            <th>parentezco</th>
            <th><i class="fa fa-edit"></i></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of listPeople">
            <td>
              {{ p.nombre }}
            </td>
            <td>
              {{ p.apellido }}
            </td>
            <td>
              {{ p.documento }}
            </td>
            <td>
              {{ p.genero }}
            </td>
            <td>
              {{ p.parentezco}}
            </td>
            <td>
              <a routerLink="/administracion/editar-persona/{{ p.id }}"
            >Editar <i class="fa fa-edit"></i
          ></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>