<!-- Home Sections Starts -->
<section class="home" id="home">
  <div class="swiper home-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide slide slide01">
        <div class="content">
          <span>Encuestas, migrantes 2022</span>
          <h3>Realiza Tu encuesta</h3>
          <a href="login.html" class="btn">Encuesta</a>
        </div>
      </div>
<!-- Home Sections Starts
      <div class="swiper-slide slide slide02">
        <div class="content">
          <span>Encuestas, migrantes 2022</span>
          <h3>Realiza Tu encuesta</h3>
          <a href="login.html" class="btn">Encuesta</a>
        </div>
      </div>
 
      <div class="swiper-slide slide slide03">
        <div class="content">
          <span>Encuestas, migrantes 2022</span>
          <h3>Realiza Tu encuesta</h3>
          <a href="login.html" class="btn">Encuesta</a>
        </div>
      </div>   -->

      <div class="resumen">
        
        <br/>
        
        <table border="1" width= 400 height= 150 >
          <tr>
            <td colspan="27"><h1 > RESUMEN </h1></td>
           
          </tr>
          <tr>
          
            <td colspan="11"> <h2>Total Encuestas </h2> </td>
            
            <td colspan="4"><h2>{{total_encuestas}}</h2> </td>

          </tr>   
            <tr >
              <td colspan="15"></td>
            </tr>     

         
         <tr>
          <td colspan="11"><h3>Encuestas Arauca... </h3></td>
          <td colspan="4"><h3>{{encuestas_Arauca}}</h3></td>
        </tr>
        <tr>
          <td colspan="11"><h3>Encuestas Arauquita...</h3> </td>
          <td colspan="4"><h3>{{encuestas_Arauquita}}</h3></td>
        </tr>
        <tr>
          <td colspan="11"><h3>Encuestas Saravena...</h3> </td>
          <td colspan="4"><h3>{{encuestas_Saravena}}</h3></td>
        </tr>

        
               
      </table>

      </div>

      <br/>
      <br/>
      <br/>
      <br/>
    </div>

    <div class="swiper-pagination"></div>
  </div>
</section>
<!-- Home Section Ends -->

<!-- About Section Starts -->
<section class="about" id="about">
  <h3>Nosotros</h3>
  <div class="content">
    <div class="card">
      <h3>CONTRATANTE</h3>
      <p>
        GOBERNACION DE ARAUCA <br/>
        Secretaria de Gobierno<br/>
        Contrato de Consultoria 653 de 2021<br/>
        Objeto: Caracterización Socioeconomica y Demografica, de<br/>
        población Migrante y refugiada en el departamento de Arauca<br/>
      </p>
    </div>
    <div class="card">
      <h3>CONTRATISTA</h3>
      <p>
        <br/>
        Consorcio Población Vulnerable<br/>
        Calle 16 Nro.11-60<br/>
        Barrio Las Americas - Municipio de Arauca<br/>
        
      </p>
    </div>
    <div class="card">
      <h3>Desarrollo</h3><br/>
      <p>
        Desarrollado totalmente por <br/>
        hcsCodex<br/>
        Colombia<br/>
        Derechos reservados
      </p>
    </div>
  </div>
</section>
<!-- About Section Ends -->

<!-- Contact Section Starts -->
<section class="contact" id="contact">
  <div class="form">
    <h3>Contacto</h3>
    <div>
      <label for="name">Nombre</label>
      <input id="name" type="text" placeholder="nombre" />
    </div>
    <div>
      <label for="lastname">Apellido</label>
      <input id="lastname" type="text" placeholder="apellido" />
    </div>
    <div>
      <label for="email">email</label>
      <input id="email" type="email" placeholder="email" />
    </div>
    <div>
      <label for="phone">celular/telefono</label>
      <input id="phone" type="tel" placeholder="telefono" />
    </div>
    <div class="btn-content">
      <button class="btn">enviar</button>
    </div>
  </div>

  <div class="icons">
    <div class="icons-content">
      <i class="fa fa-phone"></i>
      <span>+57 3152111063</span>
    </div>
    <div class="icons-content">
      <i class="fa fa-envelope"></i>
      <span>migrantes2022@gmail.com</span>
    </div>
    <div class="icons-content">
      <i class="fa fa-map-marker"></i>
      <span>Arauca, colombia</span>
    </div>
  </div>
</section>
<!-- Contact Section Ends -->
