.search-survey {
    /* min-height: 70rem; */
    margin-top: 50px;
    margin-bottom: 20px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-survey-content {
    display: flex;
    flex-direction: column;
}

.search-survey-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 0.1rem solid #0eb582;
    border-radius: 1rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    background: #f0fdfa;
    color: #0eb582;
}

.search-survey-form input {
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border: none;
    padding: 1rem 2rem 1rem 2rem;
    border-bottom: 1px solid #0eb582;
}

.search-survey-form select {
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border: none;
    padding: 1rem 2rem 1rem 2rem;
    border-bottom: 1px solid #0eb582;
}

.search-survey-form button {
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 0.5rem;
    border: 0.1rem solid #0eb582;
    font-size: 2rem;
    color: #0eb582;
    background: #f0fdfa;
}

.search-survey-form button:hover {
    color: white;
    background: #0eb582;
    cursor: pointer;
}

.tableSurveyList{
    display: contents;
    margin-bottom: 100px;
}