<div class="create-survey">
  <h1>Crear Encuesta</h1>
  <div class="create-survey-content">
    <div class="create-survey-content-left">
      <h2>Formulario</h2>
      <form [formGroup]="fgValidator" (ngSubmit)="ModificarEncuesta()">
        <div class="content">
          <div class="card">
            <h3>Municipio</h3>
            <select formControlName="municipio" id="2">
              <option value="Arauca">Arauca</option>
              <option value=">Arauquita">Arauquita</option>
              <option value="Saravena">Saravena</option>
            </select>
          </div>

          <div class="card">
            <h3>Dirección de residencia</h3>
            <input formControlName="direccion" id="3" type="text" />
          </div>

          <div class="card">
            <h3>Correo Electrónico</h3>
            <input formControlName="correo" id="3" type="email" />
          </div>

          <div class="card">
            <h3>Telefono fijo o celular</h3>
            <input formControlName="tel" id="3" type="text" />
          </div>

          <div class="card">
            <h3>¿19. Estado civil?</h3>
            <select formControlName="est_civil" id="est_civil">
              <option value="Soltero">Soltero</option>
              <option value="Casado">Casado</option>
              <option value="Unión libre">Unión libre</option>
              <option value="Separado/Divorciado">Separado/Divorciado</option>
              <option value="Viudo">Viudo</option>
              <option value="No especificado">No especificado</option>
            </select>
          </div>

          <div class="card">
            <h3>20. Información nucleo Familiar</h3>
            <select formControlName="info_nucleo" id="info_nucleo">
              <option value="Padre Jefe de Hogar">Padre Jefe de Hogar</option>
              <option value="Madre Jefe de Hogar">Madre Jefe de Hogar</option>
              <option value="Padre Cabeza de familia">Padre Cabeza de familia</option>
              <option value="Madre Cabeza de familia">Madre Cabeza de familia</option>
              <option value="Otro">Otro</option>
            </select>
          </div>

          <div class="card">
            <label for="conf_hogar">21A. Número de personas que conforman el hogar</label>
            <input formControlName="conf_hogar" id="conf_hogar" type="number" />
          </div>

          <div class="card">
            <label for="quedaron_hijos">21B. ¿Se quedaron hijos?</label>
            <select name="quedaron_hijos" id="quedaron_hijos" formControlName="quedaron_hijos">
              <option value="Si">Si</option>
              <option value="No">Si</option>
            </select>
          </div>

          <div class="card">
            <label for="nacionalidad_pareja">21C. Nacionalidad de la pareja</label>
            <select name="nacionalidad_pareja" id="nacionalidad_pareja" formControlName="nacionalidad_pareja">
              <option value="Venolano">Venolano</option>
              <option value="Colombiano">Colombiano</option>
              <option value="Otro">Otro</option>
              <option value="No Aplica">No Aplica</option>
            </select>
          </div>

          <div class="card">
            <label for="razon_cruce">22. Razón cruce a Colombia</label>
            <select name="razon_cruce" id="razon_cruce" formControlName="razon_cruce">
              <option value="Seguridad">Seguridad</option>
              <option value="Político">Político</option>
              <option value="Familiar">Familiar</option>
              <option value="Laboral">Laboral</option>
              <option value="Económico">Económico</option>
              <option value="Desplazamiento">Desplazamiento</option>
              <option value="Otra">Otra</option>
            </select>
          </div>

          <div class="card">
            <label for="tiempo_estancia">23. Tiempo de estancia en el departamento de Arauc</label>
            <select name="tiempo_estancia" id="tiempo_estancia" formControlName="tiempo_estancia">
              <option value="Hasta 1 año">Hasta 1 año</option>
              <option value="2 años">2 años</option>
              <option value="3 años">3 años</option>
              <option value="4 años">4 años</option>
              <option value="5 años">5 años</option>
              <option value="Más de 5 años">Más de 5 años</option>
            </select>
          </div>

          <div class="card">
            <label for="razon_arauca">24. Razon de permanencia en el departamente de Arauca</label>
            <select name="razon_arauca" id="razon_arauca" formControlName="razon_arauca">
              <option value="Trabajar en Arauca">Trabajar en Arauca</option>
              <option value="Trabajar en Arauquita">Trabajar en Arauquita</option>
              <option value="Trabajar en Saravena">Trabajar en Saravena</option>
              <option value="Trabajar en Otro municipio">Trabajar en Otro municipio</option>
              <option value="Estudiar">Estudiar</option>
              <option value="Otra Razón">Otra Razón</option>
              <option value="No especificado">No especificado</option>
            </select>
          </div>

          <div class="card">
            <h3>25. ¿Una vez ingresó a Colombia cuál fue su intención?</h3>
            <select formControlName="intencion" id="4">
              <option value="Establecer su domicilio en el país">Establecer su domicilio en el país</option>
              <option value="Transitar hacia otro país">Transitar hacia otro país</option>
              <option value="Trabajar por un tiempo para regresar a Venezuela">Trabajar por un tiempo para regresar a
                Venezuela</option>
              <option value="ncontrarse con su familia">Encontrarse con su familia</option>
            </select>
          </div>
        </div>

        <div class="survey-btn">
          <button type="submit">Guardar</button>
        </div>
      </form>
    </div>
    <div class="create-survey-content-right">
      <h2>Grupo Familiar</h2>
      <form action="">
        <p>Personas</p>
        
      </form>

      <table class="table">
        <thead>
          <tr>
            <th>nombre</th>
            <th>apellido</th>
            <th>documento</th>
            <th>genero</th>
            <th><i class="fa fa-edit"></i></th>
          </tr>
        </thead>
        <!-- <tbody>
          <tr *ngFor="let p of listPeople">
            <td>
              {{ p.nombre }}
            </td>
            <td>
              {{ p.apellido }}
            </td>
            <td>
              {{ p.documento }}
            </td>
            <td>
              {{ p.genero }}
            </td>
            <td>
              <a routerLink="/administracion/editar-persona/{{ p.id }}"
                >Editar <i class="fa fa-edit"></i
              ></a>
            </td>
          </tr>
        </tbody> -->
      </table>
    </div>
  </div>
</div>
