<section class="pregunta" id="pregunta">
  <h3>Encuesta</h3>
  <form [formGroup]="fgEncuesta" (ngSubmit)="validarNoEncuesta()">
    <div class="content">
      <div class="card">
        <h3>Número de encuesta</h3>
        <input formControlName="noEncuesta" id="1" type="text" />

        <div class="survey-btn">
          <button [disabled]="!fgEncuesta.valid" type="submit">Buscar</button>
        </div>
      </div>
    </div>
  </form>

  <!-- tabla nucleo familiar -->
  <div class="content" *ngIf="validador">
    <div class="card">
      <div class="btncontent">
        <h3>Nucleo Familiar</h3>
        <a class="btn" routerLink="/administracion/crear-persona"
          >Crear Persona</a
        >
      </div>
      <div class="pollstersEncuesta">
        <table class="table">
          <thead>
            <tr>
              <th>nombre</th>
              <th>apellido</th>
              <th>documento</th>
              <th>genero</th>
              <th><i class="fa fa-edit"></i></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of listPeople">
              <td>
                {{ p.nombre }}
              </td>
              <td>
                {{ p.apellido }}
              </td>
              <td>
                {{ p.documento }}
              </td>
              <td>
                {{ p.genero }}
              </td>
              <td>
                <a routerLink="/administracion/editar-persona/{{ p.id }}"
                  >Editar <i class="fa fa-edit"></i
                ></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <form [formGroup]="fgValidator" (ngSubmit)="ModificarEncuesta()">
    <div class="content" *ngIf="validador">
      <div class="card">
        <h3>Municipio</h3>
        <select formControlName="municipio" id="2">
          <option value="Arauca">Arauca</option>
          <option value=">Arauquita">Arauquita</option>
          <option value="Saravena">Saravena</option>
        </select>
      </div>

      <div class="card">
        <h3>Dirección de residencia</h3>
        <input formControlName="direccion" id="3" type="text" />
      </div>

      <div class="card">
        <h3>Correo</h3>
        <input formControlName="correo" id="3" type="email" />
      </div>

      <div class="card">
        <h3>Telefono fijo o celular</h3>
        <input formControlName="tel" id="3" type="text" />
      </div>

      <div class="card">
        <h3>¿2. Una vez ingresó a Colombia cuál fue su intención?</h3>
        <select formControlName="intencion" id="4">
          <option value="Establecer su domicilio en el país"
            >Establecer su domicilio en el país</option
          >
          <option value="Transitar hacia otro país"
            >Transitar hacia otro país</option
          >
          <option value="Trabajar por un tiempo para regresar a Venezuela"
            >Trabajar por un tiempo para regresar a Venezuela</option
          >
          <option value="ncontrarse con su familia"
            >Encontrarse con su familia</option
          >
        </select>
      </div>

      <div class="card">
        <h3>3. ¿Con que documento cuenta?</h3>
        <div *ngFor="let doc of docs; let i=index">
          <label class="container">
            <input
              type="checkbox"
              formArrayName="docsSeleccionados"
              [value]="doc.value"
              (change)="onCheckboxChange($event)"
            />
            {{doc.name}}
            <span class="checkmark"></span><br />
          </label>
        </div>
        <!-- <p>{{ fgValidator.value | json }}</p> -->
      </div>

      <div class="card">
        <h3>
          4. De acuerdo con su cultura, pueblo o rasgos físicos; usted se auto
          reconoce como?
        </h3>
        <select formControlName="etnia" id="6">
          <option value="Mestizo">Mestizo</option>
          <option value="Afrodescendiente">Afrodescendiente</option>
          <option value="Indígena">Indígena</option>
          <option value="Otro">Otro</option>
        </select>
      </div>

      <div class="card">
        <h3>5. ¿Cuál es su identidad de género?</h3>
        <select formControlName="identGenero" id="7">
          <option value="Hombre">Hombre</option>
          <option value="Mujer">Mujer</option>
          <option value="Hombre trans">Hombre trans</option>
          <option value="Mujer trans">Mujer trans</option>
          <option value="Otro">Otro</option>
        </select>
      </div>

      <div class="card">
        <h3>
          6. ¿Cuál de las siguientes opciones describe mejor su orientación
          sexual?
        </h3>
        <select formControlName="orSexual" id="8">
          <option value="Hombre">Hombre</option>
          <option value="Mujer">Mujer</option>
          <option value="Hombre trans">Hombre trans</option>
          <option value="Mujer trans">Mujer trans</option>
          <option value="Otro">Otro</option>
        </select>
      </div>
    </div>

    <div class="survey-btn" *ngIf="validador">
      <button [disabled]="!fgValidator.valid" type="submit">Guardar</button>
    </div>
  </form>

  <!-- <form [formGroup]="fgValidator">
    <div class="content" *ngFor='let index of data; let i = index; let even =even'>
      <div class="card">
        <h3> {{data[i].Descripcion}}</h3>
  
        <p *ngIf="data[i].Tipo === 'text'">
          <input formControlName="noEncuesta" id="{{i+1}}" type="{{data[i].Tipo}}" />
        </p>
        <p *ngIf="data[i].Tipo === 'email'">
          <input id="{{i+1}}" type="{{data[i].Tipo}}" />
        </p>
        <p *ngIf="data[i].Tipo === 'select'">
          <select id="{{i+1}}">
            <option *ngFor='let index of data[i].NoOp; let a = index; let even =even' value="{{data[i].NoOp[a]}}">
              {{data[i].NoOp[a]}}</option>
          </select>
        </p>

        <p *ngIf="data[i].Tipo === 'checkbox'" >  
          <label  *ngFor='let index of data[i].NoOp; let a = index; let even =even'  class="container">{{data[i].NoOp[a]}}  
            <input id="'{{i+1}}'+'-'+'{{a+1}}'"  type="{{data[i].Tipo}}">
            <span class="checkmark"></span>
            <br></label>
        </p>
  
      </div>
      
    </div>
    <div>
      <div class="card-login">
        <div class="login-btn">
          <button type="submit">Guardar</button>
        </div>
      </div>
     
  
    </div> 
  </form> -->
</section>
